* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
  width: 100%;
  height: 950px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  animation: 300ms ease-in-out 0s normal none 1 running fad;
  top: 0;
  left: 0;
  z-index: 9999;
  background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
}
.main {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.main .logo {
  width: 30%;
  /* position: relative; */
  /* margin: 20px 200px; */
  /* border: 2px solid red; */
  text-align: right;
}
.main nav {
  /* width: 50%; */
  /* margin: auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 200px;
}
.main nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 420px;
  /* text-align: right; */
}
nav ul li {
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.get {
  /* position: relative; */
  width: 20%;
}
.border-btn2 {
  margin-top: 19px;
  text-align: right;
  text-decoration: none;
  color: white;
  font-family: cursive;
  border: 2px solid white;
  padding: 12px 21px;
  position: relative;
  border-radius: 25px;
  /* background-color: white; */
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.middle img {
  width: 50%;
  position: relative;
  top: 150px;
  right: 200px;
}
.middle .text {
  width: 50%;
  margin-top: 200px;
  margin-left: 200px;
}
.text h1 {
  color: white;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
}
.text h3 {
  color: white;
  font-size: 20px;
  margin-top: 20px;

  font-family: "Josefin Sans", sans-serif;
}
.text button {
  margin-top: 60px;
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  background-image: linear-gradient(
    to right,
    #f857a6 0%,
    #ff5858 51%,
    #f857a6 100%
  );
}
.btn {
  font-family: "Josefin Sans", sans-serif;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 25px;
  display: block;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.card {
  width: 100%;
  height: 700px;
}

.text1 h3 {
  color: #f857a6;
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}
.text1 h1 {
  color: black;
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
}
.three-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.card-small::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  transition: 0.6s;
  bottom: 0;
  background: #f857a6;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}
.card-small:hover::before {
  height: 100%;
}
.card-small:hover {
  color: white;
}

.card-small {
  width: 400px;
  height: 400px;
  /* background-color: whitesmoke; */
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.card-small .img {
  display: flex;
  box-shadow: 0px 15px 25px rgb(0 4 74 / 4%);
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  /* border: 2px solid red; */
  margin-top: 50px;
  text-align: center;
  margin-left: -6px;
  border-radius: 318px;
  padding: 30px;
  background-color: white;
}
.text2 h5 {
  margin-bottom: 100px;
  font-size: 25px;
  text-align: s;
}
.text2 p {
  margin-bottom: 85px;
}

.text2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 400px;
  height: 200px;
}
.about {
  width: 100%;
  height: 800px;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pic {
  width: 50%;
  text-align: right;
  /* position: absolute; */
  /* border: 2px solid red; */
}
.pic img {
  margin-right: 200px;
  box-shadow: 0 4.5px 3.8px rgba(0, 0, 0, 0.02),
    0 8.9px 9px rgba(0, 0, 0, 0.028), 0 13.7px 17px rgba(0, 0, 0, 0.035),
    0 20px 30.4px rgba(0, 0, 0, 0.042), 0 30.7px 56.8px rgba(0, 0, 0, 0.05),
    0 63px 136px rgba(0, 0, 0, 0.07);
}
.write {
  position: relative;
  margin-left: 30px;
  width: 50%;
  height: 600px;
  color: #232f55;
  /* border: 2px solid red; */
}
.write h1 {
  position: absolute;
  top: 25px;
  left: 50px;
  font-size: 40px;
  color: #232f55;
  font-weight: 600;
}
.first img {
  position: absolute;
  top: 200px;
  left: 50px;
}
.first .text2 {
  margin-top: 180px;
  margin-left: 110px;
}
.text2 h3 {
  margin: 30px;
  margin-left: -107px;
}
.sp {
  margin-left: -30px;
}
.btn3 {
  margin-top: 100px;
  margin-left: 49px;
}
.sec img {
  position: absolute;
  top: 350px;
  left: 50px;
}
.text3 {
  margin-top: -22px;
  margin-left: 160px;
}
.text3 h3 {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 25px;
  /* margin-left: -107px; */
}
.case-study {
  width: 100%;
  height: 700px;
  background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
  position: relative;
  color: white;
}
.text4 {
  position: absolute;
  top: 100px;
  left: 350px;
}
.text4 h1 {
  font-size: 40px;
  margin-top: -10px;
}
.text4 h5 {
  margin-bottom: 50px;
  font-size: 17px;
  color: #f857a6;
}
/* using postion with p1 */
/* .p1{
position: absolute;
width: 400px;
right: 200px;
top: 100px;
} */
/* using without position */
.p1 {
  font-size: 20px;
  margin-left: 1075px;
  width: 400px;
  padding-top: 140px;
  /* border: 2px solid red; */
}
.card-area {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
  margin-left: 120px;
}
.cardar1 {
  margin-left: 30px;
  position: relative;
  /* left: 200px; */
  height: 230px;
  width: 250px;
  /* background:transparent; */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 10px 16px rgba(84, 0, 0, 0.06);
  cursor: pointer;
  /* margin: 200px; */
}
.cardar1 img {
  position: absolute;
  top: 30%;
  left: 40%;
}
.img-case:hover {
  position: relative;
  top: -5px;
}
.cardar1 h2 {
  /* position: absolute;
    bottom: 20px;
    left: 80px; */
  margin-top: 150px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.cardar1:hover {
  transition: all 0.4s ease-out 0s;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid transparent;
  transform: scale(1.05);
}
.menu #nav {
  display: none;
}
.business {
  width: 100%;
  height: 650px;
  position: relative;
}
.business-text {
  width: 100%;
  height: 300px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.business-text h1,
p,
a {
  margin-bottom: 60px;
}
.business-text p {
  width: 850px;
  text-align: center;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  /* border: 2px solid red; */
  color: #232f55;

  line-height: 30px;
  /* margin-bottom: 15px; */
  font-weight: normal;
}

.business-text h1 {
  color: #232f55;
  font-size: 50px;
}

.border-btn {
  color: #f857a6;
  /* margin-top: 19px; */
  /* text-align: right; */
  text-decoration: none;
  /* color: white; */
  font-family: "Mulish", sans-serif;
  border: 2px solid currentColor;
  padding: 12px 21px;
  /* position: relative; */
  border-radius: 25px;
}
/* .border-btn {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: black;
  font-family :roboto;
  font-size: 4rem;
  font-weight :100;
  overflow: hidden;
  padding :1rem 2rem;
  position :relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index :0;
}
.border-btn::after{
background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);;
border-radius :3rem;
content: '';
display: block;
height :100%;
width: 100%;
position :absolute;
left :0;
top: 0;
transform :translate(-100%, 0) rotate(10deg);
transform-origin:top left;
transition : .2s transform ease-out;
will-change : transform;
z-index: -1;

}
.border-btn:hover::after{
transform : translate(0, 0);
}
.border-btn:hover{
border: 2px solid transparent;
color: indigo;
transform :scale(1.05);
will-change :transform;
}
 */
.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}
.counter h1 {
  font-size: 70px;
  color: #232f55;
  text-align: center;
  margin: 20px;
}
.counter p {
  font-size: 18px;
  color: #132e43;
  font-family: "Mulish", sans-serif;
}

/* transform: scale(1.05); text lo zoom krne mai kaam aayega  */

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    position: relative;
  }
  .logo {
    position: absolute;
    top: 20px;
    left: -20px;
  }
  .get {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 200px;
  }
  .main nav {
    /* display: none; */
    /* border: 2px solid red; */
    width: 0;
    overflow: hidden;
    height: 400px;
    background-color: white;
    /* position: absolute; */
    text-align: left;
    /* left:-20px; */
    margin: 30px 80px;
    transition: 0.5s linear all;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    z-index: 1;
    transform: translateX(-50%);
  }
  nav ul li {
    margin: 20px;
  }
  nav ul li a {
    color: black;
  }
  .menu #nav {
    position: absolute;
    display: block;
    width: 40px;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
}
.contact {
  /* position: relative;
  top: 0; */
  /* background-color: #90d5ec; */
  /* background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%),url('../images/contactus.webp'); */
  background-image: linear-gradient(
      to left,
      rgba(252, 87, 94, 0.8),
      rgba(144, 213, 236, 0.8)
    ),
    url("../images/contactus.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  mix-blend-mode: color;
}
.contact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 100px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 500px; */
  padding-top: 10px;
}

form input,
textarea {
  font-family: "Poppins", sans-serif;

  margin: 30px;
  width: 60%;
  outline: none;

  border-radius: 5px;
  /* padding: 5px 20px; */
  font-size: 20px;
  padding: 10px 10px;
  border: 2px solid black;
}
.contactbtn {
  height: 200px;
}
button {
  outline: none;
  border: 2.5px solid black;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 100px;
  font-family: "Poppins", sans-serif;
}

/* background: rgba(111, 239, 172, 1.0);
background: -webkit-linear-gradient(top right, rgba(111, 239, 172, 1.0), rgba(144, 1, 156, 1.0));
background: -moz-linear-gradient(top right, rgba(111, 239, 172, 1.0), rgba(144, 1, 156, 1.0));
background: linear-gradient(to bottom left, rgba(111, 239, 172, 1.0), rgba(144, 1, 156, 1.0)); */
